# **Lab Assignment 2 - Morgan Staples**
## 180016968
https://github.com/MWS8StAndrews/PY4SA23_Assignment

# **Python Basics**
## **Task 1**
### An If...Else statement was created to test whether a number is divisible by 3. The number 303 was tested and was found to be divisible by three. The statement "303 is divisible by three" was then printed.

In [ ]:
x = 303
if(x%3==0):
    print (str(x) + " is divisible by three")
else:
    print (str(x) + " is not divisible by three")

## **Task 2**
### Another If...Else Statement was created that tested if a type of fruit was on a list of acceptable fruit. Mango was tested and since mango is not on the list of acceptable fruit the result "mango is not acceptable" was printed.

In [ ]:
x = "mango"
fruitlst = ["apple", "orange", "pear", "kiwi", "strawberry"]
result = fruitlst.count(x)
if result > 0:
    print (x + " is acceptable")
else:
    print (x + " is not acceptable")

## **Task 3**
### Math was imported and from math sqrt, sin, cos, atan2, and radians were imported. A function was created to calculate the distance between two coordinates using the haversine formula. After the formula was created different coordinates could be imputed to calculate the distance between locations.The coordinates of the Empire State building and Alcatraz island were used.

In [ ]:
import math
from math import sqrt, sin, cos, atan2, radians
def haversine(coord1:object, coord2:object):
    
    lon1, lat1 = coord1
    lon2, lat2 = coord2
    phi_1 = math.radians(lat1)
    phi_2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)
    
    a = math.sin(delta_phi / 2.0) ** 2 + math.cos(phi_1) * math.cos(phi_2) * math.sin(delta_lambda / 2.0) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    R = 6371
    return R * c

coord1 = 40.748817,-73.985428
coord2 = 37.828125,-122.422844
print(haversine(coord1,coord2))

# **Pandas and NumPy**
## **Question 1**
### Using Pandas we can read the portland_park_trees.csv file. Subsets were created that identified the trees that are of the Quercus and Acer genus. The subsets were combined to create a subset that identified trees that belonged to the Quercus or Acer Genus. The len() function was then used to identify the number of rows and therefore trees that belonged to Quercus or Acer. This gave the answer 5675.

In [ ]:
import pandas as pd

trees_df = pd.read_csv("data/portland_park_trees.csv", sep=",", header=0, encoding="ISO-8859-1")

Quercus_only = trees_df[trees_df["Genus"]=="Quercus"]
Acer_only = trees_df[trees_df["Genus"]=="Acer"]
Quercus_and_Acer = Quercus_only + Acer_only

print(len(Quercus_and_Acer))

## **Question 2**
### Using the same data from the previous question subsets were created for trees that belonged to the Quercus genus and have a DBH larger than 50 inches. This process was repeated for the Acer genus and then the two subsets were combined. This gave the answer that there are 124 trees of the Quercus or Acer genus that have a DBH larger than 50 inches.

In [ ]:
large_Quercus = trees_df[(trees_df["Genus"]=="Quercus") & (trees_df["DBH"]>50)]
large_Acer = trees_df[(trees_df["Genus"]=="Acer") & (trees_df["DBH"]>50)]

large_Quercus_and_Acer = large_Quercus + large_Acer

print(len(large_Quercus_and_Acer))

## **Question 3**
### Firstly a subset was created for the Fraxinus genus. Then a formula was created that would calculate the mean for each of the 3 different genus. The results were then published. From the results we can see that Quercus has the highest mean DBH. Quercus had a mean DBH of 23.6 inches, Acer had a mean DBH of 18.4 inches and Fraxinus had a mean DBH of 11 inches.

In [ ]:
Fraxinus_only = trees_df[trees_df["Genus"]=="Fraxinus"]

Quercus_Mean = Quercus_only["DBH"].mean()
Acer_Mean = Acer_only["DBH"].mean()
Fraxinus_Mean = Fraxinus_only["DBH"].mean()

print(Quercus_Mean)
print(Acer_Mean)
print(Fraxinus_Mean)

## **Question 4**
### A value count was used to count the amount of different species that belonged to the Acer genus. The result was then printed, which gave the answer 20.

In [ ]:
Acer_difspecies = Acer_only["Genus_spec"].value_counts().shape[0]
print(Acer_difspecies)

## **Question 5**
### Firstly, pandas was used to read the file "world_cities.csv".

cities_df = pd.read_csv("data/world_cities.csv", sep=",", header=0, encoding="ISO-8859-1")

### A new column was created for population in millions. To convert the existing populations into millions the values had to be divided by 1000000.

In [ ]:
cities_df["pop_M"] = cities_df["pop"] / 1000000

### The existing population column was then deleted.

In [ ]:
del cities_df["pop"]

### Since my name begins with the letter M, I subsetted the city Mombasa. This result was then printed to identify the country that Mombasa was located in. The answer was Kenya.

In [ ]:
just_Mombasa = cities_df[cities_df["city"]=="Mombasa"]
print (just_Mombasa)

### The 5 cities with the largest populations in Kenya were subsetted using sort_values and .head(5). The results were then printed which told us that Nairobi, Mombasa, Nakuru, Eldoret and Kisumu were the 5 cities with the largest populations.

In [ ]:
Kenya_cities = cities_df[cities_df["country"]=="Kenya"]
Kenya_cities_top5 = Kenya_cities.sort_values("pop_M", ascending=False).head(5)
print(Kenya_cities_top5)

# **Python Data Visualisation**
## **Graph 1**
### seaborn was imported in order to create charts. A subset was created that just contained trees of the Ulmus Genus. .scatterplot was used to create a scatterplot with DBH along the x axis and Treeheight along the y axis.

In [ ]:
import seaborn as sns
Ulmus_only = trees_df[trees_df["Genus"]=="Ulmus"]
sns.scatterplot(x="DBH", y="TreeHeight", data=Ulmus_only)

## Graph 2
### Using a similar process to Graph 1 a second scatterplot was created. This time .relplot was used. The x and y axis remained DBH and Treeheight but this time Genus_spec was added as the hue.

In [ ]:
sns.relplot(x="DBH", y="TreeHeight", hue="Genus_spec", data=Ulmus_only)

## **Graph 3**
### By changing the figsize the size of the figure could be controlled. .boxplot was used with Species as the x axis and DBH as the y axis. This created 9 boxplots, one for each species of tree within the genus Ulmus.

In [ ]:
plt.figure(figsize =(12, 10))
sns.boxplot(data=Ulmus_only, x='Species', y='DBH')
plt.show()

## **Graph 4**
### The scatterplot from Graph 1 and the boxplot from Graph 3 where combined into one figure. Firstly the amount of different graphs had to be inputted, in this case 2. The scatterplot was assigned to axs[0] and was given a title. The boxplot was then assigned to axs[1] and given a title. By then using plt.show() the two graphs were combined onto the same figure.

In [ ]:
fig, axs = plt.subplots(ncols=2)

sns.set(rc={"figure.figsize":(10, 16)})

sns.scatterplot(data=Ulmus_only, x="DBH", y="TreeHeight", ax=axs[0])
axs[0].set_title("DBH and Tree Height of trees within the Ulmus Genus")

sns.boxplot(data=Ulmus_only, x="Species", y="DBH", ax=axs[1])
axs[1].set_title("DBH by Species of the Ulmus Genus")

plt.show()

# **Python GeoPandas**
## **Task 1**
### SG_SIMD_2020.shp was downloaded from the Spatial Data Portal of Scotland and saved in the Data folder. Geopandas was imported and then used to read the file "SG_SIMD_2020.shp".

In [ ]:
import geopandas as gpd

simd_geo = gpd.read_file('data/SG_SIMD_2020/SG_SIMD_2020.shp')

## **Task 2**
### numpy and matplotlib were both imported. small_simd_geo was created from simd_geo by removing some of the columns. This was done in an attempt to reduce file sizes. .head(5) was then run which showed the first 5 sets of records.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

small_simd_geo = simd_geo[["DataZone", "DZName", "LAName", "Quintilev2", "CrimeRate", "CrimeRank", "Shape_Area", "geometry"]]

small_simd_geo.head(5)

### .tail(5) was then run to show the last 5 sets of records in the dataset.

In [ ]:
small_simd_geo.tail(5)

## **Task 3**
### .explore was the run on small_simd_geo with column as LAName and the cmap as YlGn. This created a map that could be explored.

In [ ]:
small_simd_geo.explore(column="LAName", cmap="YlGn",)

## **Task 4**
### .crs was then used on small_simd_geo, this revelaed that the CRS was EPSG:27700

In [ ]:
small_simd_geo.crs

## **Task 5**
### .shape was then used to reveal the amount of features in the dataset. The dataset had 6976 rows and 8 columns.

In [ ]:
small_simd_geo.shape

## **Task 6**
### categorical_simd was created using a sub-setting criterion where the dataset was filtered using the query that LAName had to equal Stirling. LAName was a categorical attribute.

In [ ]:
categorical_simd = small_simd_geo[["DataZone","DZName", "LAName", "Quintilev2", "CrimeRate", "CrimeRank", "Shape_Area", "geometry"]]
index_simd = categorical_simd['LAName'] == 'Stirling'
categorical_simd = categorical_simd[index_simd]
categorical_simd

## **Task 7**
### numerical_simd was created using a sub-setting criterion where the dataset was filtered using the query that CrimeRate had to be more than 300. CrimeRate was a numerical attribute.

In [ ]:
numerical_simd = small_simd_geo[["DataZone","DZName", "LAName", "Quintilev2", "CrimeRate", "CrimeRank", "Shape_Area", "geometry"]]
index_simd = numerical_simd['CrimeRate'] > 300
numerical_simd = numerical_simd[index_simd]
numerical_simd

## **Task 8**
### categorical_simd.plot was then run, with CrimeRate in the column and RdYlBu in the cmap. A legend was also added. This created the map that can be seen below.

In [ ]:
plt.rcParams['figure.figsize'] = [10, 9]
fig, ax = plt.subplots(1, 1)
categorical_simd.plot(column="CrimeRate", cmap="RdYlBu", ax=ax, legend=True, legend_kwds={'label': "CrimeRate", 'orientation': "vertical"})

# **Python Rasterio**
## **Task 1**
### Rasterio was imported and from rasterio plot was imported. Rasterio was the used to open elev.tif.

In [ ]:
import rasterio as rio
from rasterio import plot

elev = rio.open('data/elev.tif')

## **Task 2**
### print(elev.crs) was used to reveal that the crs of the dataset was EPSG:32617.

In [ ]:
print(elev.crs)

##Â **Task 3**
### Print(elev.bounds) was used to reveal the raster extent, print(elev.crs) was used to reveal the reference system and print(elev.count) was used to reveal how many bands were in the dataset. print(" ") was used to create spaces and make the answers easier to read.

In [ ]:
print(elev.bounds)
print(" ")
print(elev.crs)
print(" ")
print(elev.count)

## **Task 4**
### Firstly, the raster data was written to memory as a NumPy array.

In [ ]:
elev_arr = elev.read(1, masked = True)
elev_arr

### A masked_array was created to hide all the values that were equal to 0.

In [ ]:
image_read_masked = np.ma.masked_array(elev_arr, mask=(elev_arr == 0))

### plt.imshow was then used to map image_read_masked and display the data. gist_earth was chosen as the cmap. This created the image below.

In [ ]:
plt.rcParams['figure.figsize'] = [10, 8]
plt.imshow(image_read_masked, cmap="gist_earth")

## **Task 5**
### pip install earthpy was run to install a new package.

In [ ]:
pip install earthpy

### Once the new package was installed new libraries could be imported. earthpy, earthpy.spatial and earthpy.plot were all imported. ep.hist was then run which created a histogram using image_read_masked.

In [ ]:
import earthpy as et
import earthpy.spatial as es
import earthpy.plot as ep

ep.hist(image_read_masked, figsize=(8,8), title="Raster_Histogram")